main {
  min-height: 80vh;
}

.navbar-logo {
  height: 50px;
  margin-right: 20px;
  padding-bottom: 3px;
}

.icons {
  margin-right: 0.5vw;
}

.rating span {
  margin: 0.1rem;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.link {
  text-decoration: none;
}

.theme-color {
  color: rgb(154, 26, 63);
}

.on-hover:hover {
  font-weight: 500;
  color: rgb(154, 26, 63);
}

.btn-block {
  width: 100%;
}

header {
  background-color: rgb(154, 26, 63);
}

.nav-item {
  margin-right: 1vw;
}
